/* page setup
--------------------------------
*/

:root {
    font-family: 'Playfair Display', serif;
    background-image: url(images/brick-wall.svg);
    --bookshelf: #7c2d12;
    --header-text: #4b5563;
    --text: #f3f4f6;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* header
--------------------------------
*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #88b2c8;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid black 3px;
}

header>img {
    height: 6rem;
    width: 6rem;
}

.header-right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-text {
    color: var(--header-text);
}

.header-text>h1 {
    margin-top: 5px;
    font-size: 2rem;
}

.header-buttons {
    display: flex;
    justify-content: space-evenly;
}

.header-buttons>button {
    background-color: #9a3334;
    color: var(--text);
    border: none;
    border-radius: 16px;
    width: 6rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* bookshelf
--------------------------------
*/

.bookshelf {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 36rem;
    width: 80%;
    padding: 20px;
    background-color: var(--bookshelf);
    border: solid black 3px;
}

.book {
    border-radius: 4px;
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-bottom: solid black 2px;
    border-right: solid white 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.blue {
    background-color: #3b82f6;
}

.green {
    background-color: #22c55e;
}

.remove {
    margin-top: auto;
    margin-bottom: 5px;
    width: 50%;
    border: none;
    border-radius: 16px;
    padding: 3px;
    font-size: 0.7rem;
    background-color: black;
    color: var(--text)
}

.add {
    border: solid black 1px;
    border-radius: 16px;
    background-color: #88b2c8;
    color: var(--text);
    font-size: 1.2rem;
    width: 40%;
    padding-top: 8px;
    padding-bottom: 8px;
}